textarea {
    height:80%;
    width:80%;
    display:flex;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
}

#inner-button {
    margin-left:75%;
}
#edit-hidden {
    margin-left:75%;
}