<html>
    <head>

        <link rel="stylesheet" href="/static/css/paste.css" />
        <link rel="icon" type="image/x-icon" href="/static/images/pastebin-favicon.ico">
        <meta charset="UTF-8" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{.ID}}</title>
    </head>
    
    <body >

        <div id="inner-button">
            <button>Copy from buffer</button>
            <button onclick="window.location.href='/raw/{{.ID}}'">Raw</button>
            <button id="edit-button">Edit</button>
        </div>
        <form action="/{{.ID}}" method="POST" enctype="application/x-www-form-urlencoded">
            <textarea readonly name="text" accept-charset="UTF-8" id="id_text" >{{.Text}}</textarea>
            <input id="edit-hidden" type="hidden" value="Edit paste">
        </form>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </body>
</html>